.urlcheck {
  margin-left: 100px;
}
.setModule {
  margin-top: 105px !important;
}

.form-check-input:checked {
  background-color: green !important;
  border-color: green !important;
}
.form-check-input {
  border-color: green;
  border-style: double;
}

.linkclick {
  background-color: #e5e4e2;
  color: black;
  font-weight: 400;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

.linkclickpd {
  background-color: #0021f3;
  font-weight: 600;
  border-radius: 5px;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

.impbuttonone {
  margin-left: 195px;
  margin-top: 55px;
  width: 80px !important;
  height: 40px !important;
  background-color: #e6f3fb;
  color: black;
}

.impbuttontwo {
  margin-left: 25px;
  margin-top: 55px;
  width: 100px !important;
  height: 40px !important;
  background-color: #e6f3fb;
  color: black;
}
